<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header class="main-header">
        <nav class="main-nav">
            <a href="{{ url_for('superadmin.superadmin_dashboard') }}">Back to Home</a>
            
        </nav>
        <h1>Manage Pending Admins</h1>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="flash-message {{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h2>Pending Admins</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        {% for admin in pending_admins %}
        <tr>
            <td>{{ admin[0] }}</td>
            <td>{{ admin[1] }}</td>
            <td>{{ admin[3] }}</td>
            <td>{{ admin[6] }}</td>
            <td>{{ admin[9] }}</td>
            <td>
                <a href="{{ url_for('superadmin.superadmin_approve_admin', admin_id=admin[0]) }}">Approve/Reject</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
